  <header>
    <nav class=" ngtn" lang="en">
      <%= link_to image_tag("logodm.png"), root_path %>
          <ul>
            <% if user_signed_in? %>
              <li>
                <%= link_to "Cerrar Sesion", destroy_user_session_path, method: :delete, :style => "color: black"  %>
              </li>
              <li >
                <%= link_to "Ordenes", orders_path,  :style => "color: black" %>
              </li>
              <%else %>

                <%- if controller_name != 'sessions' %>
                  <%= button_to "Iniciar sesión", new_user_session_path , class: "btn"%>
                <% end -%>
              <%end%>
          </ul>
    </nav>
  </header>






