<div  class=" row center-md">
<div class="col-xs-7">
<h1>Crear Orden</h1>

<%= render 'form', order: @order %>
<div>
<%= link_to 'Regresar a ordenes', orders_path , class: "btn"%>
</div>
</div>
</div>
