 body, html
 {
    height: 100%;
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("http://www.cargocompasssa.co.za/img/CargoCompass-05.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;

}
.logo{
    width: 5%;
    height: 20%;
    background-repeat: no-repeat;
}
 .fa:hover {
     opacity: 0.7;
 }
.list{
    display: block;

    text-align: center;
    padding: 20px;
    text-decoration: none;
    float: left;
}
 .fa {
     font-size: 30px;
     width: 30px;
     text-align: center;
     text-decoration: none;
     border-radius: 50%;
 }

footer{
    width: 100%;
    bottom: 0;
    position: absolute;
    background-image: linear-gradient(white,gray);
}
.fot {
    color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.ngtn{
    font-weight: 200;
    font-size: 16px;
    text-transform: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 90px;
    border-bottom: 1px solid #eff1f2;
    background-color: transparent;
    transition: background-color .2s linear;
}
 .pc {
    text-align: center;
    color: white;
      }

.btn{
    border-radius: 9999px;
    border: 1px solid #459fed;
    background-color: azure;
    justify-content: space-between;
    position: revert;
    margin-right: 48px;
    margin-left: -2px;

}
